@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 font-family: Poppins,sans-serif !important
}

::-moz-selection {
  color: whitesmoke;
  background: #40DFEF;
}

::selection {
  color: whitesmoke;
  background: #40DFEF;
}

.post-container {
  max-width: 768px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
  font-family: Poppins,sans-serif !important;
  color: hsla(0,0%,0%,0.9);
  font-family: 'Merriweather','Georgia',serif;
  font-weight: 500;
  font-size: 3rem;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  font: 100%/1.75 'Merriweather','Georgia',serif;
}

.btn {
  display: inline-block;
  background: steelblue;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-back {
  background: #40DFEF;
  color: #fff;
  margin: 20px;
  padding: 5px 25px;
}


.card {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
}

.card-page {
  padding: 15px 30px;
}

.post-title {
  margin: 10px 0;
  font-size: 35px;
  color: #070A52;
}

.post-date {
  /* background: #f4f4f4; */
  margin-bottom: 20px;
  padding: 3px 10px;
  color: darkgray;
}


.post-body{
  font-family: Poppins,sans-serif !important;
  color: hsla(0,0%,0%,0.9);
  font-family: 'Merriweather','Georgia',serif;
  font-weight: 500;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  font: 100%/1.96 'Merriweather','Georgia',serif;
  font-size: 18px;

}

.post-body ul,
ol {
  font-size: 10%;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 0;

  
}

.post-body pre {
  background: #000;
  color: #fff;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
  border-radius: 5px;
  font-size: 15px;
}

@media (max-width: 500px) {
  .posts {
    grid-template-columns: 1fr;
  }
  .post-body pre {
    background: #000;
    color: #f4f4f4;
    padding: 20px;
    margin: 20px 0;
    line-height: 2.3;
    overflow: scroll;
  }
}
